/*-------------------TO-DO LIST-------------------*/

body.todo-list {
  background-color: $bg-skyblue;
}

button > i {
  pointer-events: none;
}
.todo-list-area {
  position: relative;
  margin: 0 auto;
  padding: 0 95px 0 85px;
  width: 780px;
  height: 520px;
  background: url(../assets/img/img_ipad.png) no-repeat;
  background-size: cover;

  .todo-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -60%);
    font-size: 54px;
    text-align: center;
    line-height: 75px;
    color: #000;
    opacity: 0.1;
    em {
      color: $color-pink;
    }
    span {
      display: inline-block;
      font-size: 30px;
    }
  }

  .todos {
    position: relative;
    overflow: auto;
    top: 45px;
    height: 385px;
    .item {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid #f2f2f2;
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
  .content {
    position: relative;
    width: 430px;
    height: 42px;
    line-height: 42px;
  }

  .content > label {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .item input[type='text'] {
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;
    border: 0 none;
    outline: none;
    font-size: 16px;
    letter-spacing: -1.2px;
    width: 100%;
    font-weight: bold;
    color: $color-pink;
  }

  .item_buttons {
    width: 118px;
    i {
      position: relative;
      top: 2px;
    }
  }

  .item_buttons > button {
    text-align: center;
    width: 42px;
    height: 42px;
    color: $color-yellow;
    font-size: 24px;
    border-radius: 8px;
  }

  .item_buttons > button:first-child {
    background-color: $bg-yellow;
    margin-right: 8px;
  }

  .edit_buttons {
    display: none;
  }

  .todo_form {
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    justify-content: space-between;
    width: 590px;
    margin-top: 12px;

    .todo_input {
      width: 100%;
      font-size: 16px;
      padding: 12px 14px;
      background-color: #f6f6f6;
      border-radius: 8px;
    }

    .todo_submit_button {
      background-color: $color-blue;
      color: #fff;
      width: 80px;
      margin-left: 10px;
      font-size: 30px;
      border-radius: 8px;
      i {
        position: relative;
        top: 3px;
      }
    }
  }
}
