#navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  left: -300px;
  width: 300px;
  background: $bg-grey;
  z-index: 100;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.nav_depth1 {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.nav_depth1 > li {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-top: 1px solid #ccc;
  .nav_depth2 {
    background-color: #fff;
    li {
      line-height: 40px;
    }
    a {
      padding: 0 30px;
      display: block;
      text-align: left;
      font-size: 16px;
      font-weight: 400;
    }
    a:hover {
      background: #d8f6ff;
    }
  }
}

.nav_depth1 > li > a {
  padding-left: 25px;
  display: block;
  text-align: left;
  font-weight: 600;
  color: #000;
  i {
    position: relative;
    top: 5px;
    font-size: 30px;
  }
  &.zero {
    color: $color-purple;
  }
}

.nav_depth1 > li > a:hover {
  background: $color-blue;
  color: #fff;
}

.toggle {
  position: absolute;
  top: 20px;
  right: -70px;
  margin-bottom: 20px;
  font-size: 60px;
  color: $color-pink;
  cursor: pointer;
  transition: transform 0.5s;
}

/* nav 요소 활성화 */
nav.active,
nav.active ~ .container {
  transform: translate3d(300px, 0, 0);
}

nav.active .toggle {
  transform: rotate(180deg);
}
