/* Theme 스타일 작성 */
//backround color
$color-blue: #0066ff;
$color-skyblue: #00aee5;
$color-pink: #e50087;
$color-purple: #802fde;
$color-yellow: #daab00;
$color-green: #14b789;

$bg-skyblue: #d8f6ff;
$bg-pink: #ffe5f4;
$bg-purple: #e8e2f7;
$bg-yellow: #fdf3ce;
$bg-green: #d5f8ef;
$bg-grey: #f7f7f8;
